<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>As Time Fades</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous" />
	<link href="css/shared.css" rel="stylesheet" />
</head>
<body>
	<div class="row">
		<nav class="navbar navbar-dark bg-faded" style="background-color: #75131A;">
		  <ul class="nav navbar-nav">
		    <li class="pull-xs-right nav-aft-main-heading-social-icon">
		    	<a href="https://twitter.com/astimefades"><img src="images/twitter.png" /></a>
		    </li>
		    <li class="pull-xs-right nav-aft-main-heading-social-icon">
		    	<a href="https://www.youtube.com/channel/UClqGORLufOh8vr5igriBEKA"><img src="images/youtube.png" /></a>
		    </li>
		    <li class="pull-xs-right nav-aft-main-heading-social-icon">
		    	<a href="https://www.instagram.com/astimefadesband/"><img src="images/instagram.png" /></a>
		    </li>
		    <li class="pull-xs-right nav-aft-main-heading-social-icon">
		    	<a href="https://www.facebook.com/AsTimeFades/"><img src="images/facebook.png" /></a>
		    </li>
		  </ul>
		</nav>
	</div>
	
	<div class="container-fluid center-div">
		<div class="row">
			<h1 id="atf-main-heading">As Time Fades</h1>
			<br />
			<h2 class="center-text">Invalid download code!</h2>
			<br />
			<h3 class="center-text"><a href="/">Click here to try again</a></h3>
		</div>
	</div>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
</body>
</html>